.iconosNumber {
    display: flex !important;
    justify-content: end !important;
    gap: 15px;
}

.button-derecha {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.agregar-planta {
    display: flex;
    gap: 2rem;
}

.titulo_img_dialog {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.titulo_img_dialog>img {
    width: 25px !important;
}

:host ::ng-deep .texto-calendario .p-datepicker,
:host ::ng-deep .texto-calendario .p-inputtext,
:host ::ng-deep .texto-calendario * {
    font-size: 0.75rem !important; /* Prueba un valor drástico como 0.75rem para notar el cambio */
    /* width: 100%;
    height: 100%; */
}

:host ::ng-deep .p-datepicker-today > .p-datepicker-day {
    background-color: var(--bg-background);
}

:host ::ng-deep .texto-calendario .p-datepicker {
    transform: scale(0.1);
    transform-origin: top left; /* Evita desalineaciones al encogerse */
}

:host ::ng-deep .p-step-active .p-step-number{
    border: 1px solid var(--text-link)!important;
    color:var(--text-link)!important;
}
:host ::ng-deep .p-step-active .p-step-title{
    color:var(--text-link)!important;
}
.datos-cisterna {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    width: 100%;
}

.campo-conductor {
    grid-column: 1 / -1;
}

.datos-cisterna p-floatlabel {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.datos-cisterna input {
    width: 100%;
}

/* TABLET */
@media (max-width: 900px) {

    .datos-cisterna {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .campo-conductor {
        grid-column: 1 / -1;
    }
}

/* CELULAR */
@media (max-width: 600px) {

    .datos-cisterna {
        grid-template-columns: 1fr;
    }

    .campo-conductor {
        grid-column: auto;
    }
}