.iconosNumber {
    display: flex !important;
    justify-content: end !important;
    gap: 15px;
}

.button-derecha {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.agregar-planta {
    display: flex;
    gap: 2rem;
}

.titulo_img_dialog {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.titulo_img_dialog>img {
    width: 25px !important;
}