<p-drawer [(visible)]="sidebarVisible" (onHide)="alCerrar($event)" position="right" styleClass="drawer-personalizado">
    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">

            <span class="font-bold">
                NUEVO REGISTRO
            </span>
        </div>
    </ng-template>
    <div class="iconosNumber">

        <p-button (onClick)="activeIndex = 0" rounded [styleClass]="activeIndex === 0
        ? 'boton-tab activo'
        : 'boton-tab'" [outlined]="activeIndex !== 0" label="1">
        </p-button>

        <p-button (onClick)="activeIndex = 1" rounded [styleClass]="activeIndex === 1
        ? 'boton-tab activo'
        : 'boton-tab'" [outlined]="activeIndex !== 1" label="2">
        </p-button>

    </div>
    <p-tabs [(value)]="activeIndex">
        <p-tablist>
            <p-tab [value]="0">Local</p-tab>
            <p-tab [value]="1">Importación</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel [value]="0">

                <p-card header="">
                    <form [formGroup]="formProduccion" (ngSubmit)="almacenar()">
                        <div class="card flex justify-center agregar-planta">
                            <p-select [options]="plantas" formControlName="planta_id" optionLabel="nombre"
                                [filter]="true" filterBy="codigo" [showClear]="true" placeholder="Seleccione una planta"
                                class="w-full">
                                <ng-template #selectedItem let-selectedOption>
                                    @if (selectedOption) {
                                    <div class="flex items-center gap-2">
                                        <div>
                                            {{ selectedOption.codigo }}
                                        </div>
                                    </div>
                                    }
                                </ng-template>
                                <ng-template #item let-plantas>
                                    <div class="flex items-center gap-2">
                                        <div>
                                            {{ plantas.codigo }}
                                        </div>
                                    </div>
                                </ng-template>
                            </p-select>
                            <p-button severity="help" pTooltip="Agregar Planta / Importador" tooltipPosition="left"
                                (click)="showDialog('planta')">
                                <img src="planta_gas.ico" width="20" alt="">
                            </p-button>
                            <p-dialog [(visible)]="visible" [modal]="true"
                                [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }"
                                [draggable]="false" [resizable]="false">
                                <ng-template #header>
                                    <div class="inline-flex items-center justify-center gap-2 titulo_img_dialog">
                                        <p-avatar image="planta_gas1.png" shape="circle" />
                                        <span class="font-bold whitespace-nowrap">Nueva Planta</span>
                                    </div>
                                </ng-template>
                                <form [formGroup]="formPlanta" (submit)="AgregarPlanta()">
                                    <hr style="border: 0px;margin-bottom: 10px;">
                                    <p-floatlabel>

                                        <input class="w-full" id="cod_planta" pInputText type="text"
                                            formControlName="cod_planta"
                                            (input)="convertirMayusculas($event, 'cod_planta')" />
                                        <label for="cod_planta">Código Planta *</label>
                                    </p-floatlabel>
                                    <br>
                                    <br>
                                    <p-floatlabel>
                                        <input class="w-full" id="desc_planta" pInputText type="text"
                                            formControlName="desc_planta"
                                            (input)="convertirMayusculas($event, 'desc_planta')" />
                                        <label for="desc_planta">Descripción Planta *</label>
                                    </p-floatlabel>
                                    <br>
                                    <br>
                                    <div class="card flex justify-center">
                                        <p-select [options]="departamento" optionLabel="name" optionValue="name"
                                            [checkmark]="true" placeholder="Seleccionar Departamento" [showClear]="true"
                                            formControlName="ciudad" class="w-full md:w-56" />
                                    </div>
                                    <br>
                                    <br>
                                    <p-floatlabel>
                                        <textarea pTextarea id="obs_planta" formControlName="obs_planta" rows="5"
                                            cols="30" style="resize: none" class="h-full w-full"
                                            (input)="convertirMayusculas($event,'obs_planta')"></textarea>
                                        <label for="obs_planta">Observación</label>
                                    </p-floatlabel>
                                    <br>
                                    <p-tag severity="danger" value="Los Campos requeridos estan con *" />
                                    <hr style="border: 1px solid var(--text-link);margin-bottom: 10px;">
                                    <p-button icon="pi pi-save" label="Crear Planta" type="submit" severity="info" />
                                </form>
                            </p-dialog>
                        </div>
                        <br>
                        <br>
                        <p-floatlabel>
                            <p-inputmask mask="aaa-999999" placeholder="AAA-999999" class="h-full w-full"
                                id="cert_produccion" formControlName="nro_certificado" type="text"
                                (onBlur)="convertirMayusculas($event,'nro_certificado')" />
                            <label for="cert_produccion">N° Certificado</label>
                        </p-floatlabel>
                        <br>
                        <br>
                        <p-floatlabel>
                            <input class="w-full" id="volumen_produccion" pInputText type="number"
                                formControlName="vol_total" />
                            <label for="volumen_produccion">Volumen Total (Tn)</label>
                        </p-floatlabel>

                        <br>
                        <div class="card flex justify-center">
                            <p-datepicker panelStyleClass="texto-calendario" formControlName="fecha_muestra"
                                [inline]="true" [showWeek]="true" />
                        </div>
                        <br>
                        <p-floatlabel>
                            <textarea pTextarea id="over_label" formControlName="observacion" rows="5" cols="30"
                                style="resize: none" class="h-full w-full"></textarea>
                            <label for="over_label">Observación</label>
                        </p-floatlabel>

                        <hr style="border: 1px solid var(--border-color);margin-bottom: 10px;">

                        <p-button icon="pi pi-save" label="Guardar registro" type="submit" severity="info" />
                    </form>
                </p-card>

            </p-tabpanel>

            <p-tabpanel [value]="1">
                <p>
                    Datos para la importación, solo se añadira pais, punto de ingreso
                </p>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</p-drawer>

<p-card header="">
    <div class="button-derecha">

        <p-button (click)="exportarExcel()" [raised]="true" severity="secondary">
            <i class="pi pi-download"></i>
            Exportar
        </p-button>
        <p-button (onClick)="sidebarVisible = true" [raised]="true" severity="info">
            <i class="pi pi-plus"></i>
            Nuevo Registro
        </p-button>
    </div>
</p-card>
<br>
<p-card>
    <div class="card">
        <p-table #dt1 [value]="produccion()" [globalFilterFields]="['lote', 
            'nombre',
            'numCertificacion', 
            'fechaMuestreo', 
            'volTotal',
            'pais',
            'puntoIngreso',
            'estado']" selectionMode="single" [(selection)]="selectedCustomers" dataKey="lote"
            [tableStyle]="{ 'min-width': '50rem'}" class="tabla-personalizada" [rows]="5" [paginator]="true"
            stateStorage="session" stateKey="statedemo-session">
            <ng-template #caption>
                <p-iconfield iconPosition="left">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                        placeholder="Busqueda Global" />
                </p-iconfield>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th pSortableColumn="produccion.lote" style="width:18%">
                        Nro. LOTE
                        <p-sortIcon field="produccion.lote" />
                    </th>
                    <th pSortableColumn="produccion.nombre" style="width:15%">
                        Planta/Operador
                        <p-sortIcon field="produccion.nombre" />
                    </th>
                    <th pSortableColumn="produccion.numCertificacion" style="width:10%">
                        Nro. Certificado
                        <p-sortIcon field="produccion.numCertificacion" />
                    </th>
                    <th pSortableColumn="producion.fechaMuestreo" style="width:10%">
                        Fecha Muestreo
                        <p-sortIcon field="producion.fechaMuestreo" />
                    </th>
                    <th pSortableColumn="produccion.volTotal" style="width:10%">
                        Volumen Total (Tn)
                        <p-sortIcon field="produccion.volTotal" />
                    </th>
                    <th pSortableColumn="produccion.pais" style="width:10%">
                        Pais
                        <p-sortIcon field="produccion.pais" />
                    </th>
                    <th pSortableColumn="produccion.puntoIngreso" style="width:10%">
                        Punto Ingreso
                        <p-sortIcon field="produccion.puntoIngreso" />
                    </th>
                    <th pSortableColumn="produccion.estado" style="width:10%">
                        Estado
                        <p-sortIcon field="produccion.estado" />
                    </th>
                </tr>
            </ng-template>
            <ng-template #body let-produccion>
                <tr [pSelectableRow]="produccion">
                    <td>
                        <span style="color: var(--text-link)">
                            <a (click)="showDialog('trazabilidad',produccion.lote)" 
                            pTooltip="Muestra la trazabilidad" 
                            tooltipPosition="top"
                            >
                                {{ produccion.lote }}
                            </a>

                        </span>
                    </td>
                    <td>
                        {{ produccion.nombre}}
                    </td>
                    <td style="display: flex; justify-content: center; align-items: center; gap:1rem;">
                        @if(produccion.numCertificado !== null){
                        <p-tag severity="warn" value="{{ produccion.numCertificado }}" />
                        <!-- <p-button severity="info" (click)="showDialog('upload', produccion.idPlanta )" [rounded]="true"
                                icon="pi pi-upload"></p-button> -->
                        }
                        @else{
                        <p-tag severity="danger" value="No existe certifiado" />
                        }
                    </td>
                    <td>
                        {{ produccion.fechaMuestreo | date: 'dd-MM-yyyy HH:mm'}}
                    </td>
                    <td>
                        {{ produccion.volTotal }}
                    </td>
                    <td>
                        @if( produccion.tipoOperacion == 1 )
                        {
                        {{ produccion.pais }}
                        }
                        @else
                        {
                        <p-tag severity="danger" value="{{produccion.pais}}"></p-tag>
                        }
                    </td>
                    <td>
                        @if( produccion.puntoIngreso != null)
                        {
                        {{ produccion.puntoIngreso }}
                        }
                        @else
                        {
                        ---------
                        }
                    </td>
                    <td>
                        @if(produccion.estado == 'DESPACHO')
                        {
                        <p-tag severity="secondary" value="{{produccion.estado}}"></p-tag>
                        }
                        @else
                        {
                        <p-tag severity="success" value="{{produccion.estado}}" pTooltip="Registrar Despacho"
                            tooltipPosition="top" (click)="showDialog('despacho', produccion.idPlanta )"></p-tag>
                        }
                    </td>
                </tr>
            </ng-template>
            <ng-template emptymessage>
                <tr>
                    <td colspan="8">No existen registros</td>
                </tr>

            </ng-template>
        </p-table>

    </div>
</p-card>

<!-- ================================== -->
<!-- MODAL PARA DESPACHO -->
<!-- ================================== -->

<p-dialog [(visible)]="visibleDespacho" [modal]="true" [style]="{ width: '50rem' }">

    <ng-template #header>
        <div class="titulo_img_dialog">
            <p-avatar image="Cisterna.png" width="32" shape="circle" />

            <span class="font-bold whitespace-nowrap">
                Despachar GLP
            </span>
        </div>
    </ng-template>

    <!-- ========================= -->
    <!-- TABS -->
    <!-- ========================= -->

    <div class="card" style="position: fixed;
    left: 0px;
    right: 0;

    z-index: 2;
    ">
        <p-tabs [(value)]="tabDespacho">
            <p-tablist>
                <p-tab [value]="4">LOCAL</p-tab>
                <p-tab [value]="5">IMPORTACIÓN</p-tab>
            </p-tablist>
        </p-tabs>
    </div>
    <br>
    <br>
    <!-- ========================= -->
    <!-- LOCAL -->
    <!-- ========================= -->

    @if (tabDespacho === 4) {
    <div class="card pasos" style="position: relative; margin-top: 52px;z-index: 1;">
        <form [formGroup]="formDespacho" (ngSubmit)="despacharOrigen()">
            <p-stepper [(value)]="pasoDespacho">
                <!-- ====================== -->
                <!-- PASO 1 -->
                <!-- ====================== -->

                <p-step-item [value]="1">
                    <p-step>
                        Cantidad de Cisternas
                    </p-step>
                    <p-step-panel>
                        <ng-template #content let-activateCallback="activateCallback">
                            <div class="flex flex-col h-48">
                                <div class="
                                               dark:border-surface-700
                                               rounded
                                               bg-surface-50
                                               dark:bg-surface-950
                                               flex-auto
                                               flex
                                               justify-center
                                               items-center
                                               font-medium h-full">
                                    <div class="card flex justify-center">
                                        <p-fieldset legend="Cisterna">
                                            <br>
                                            <p-floatlabel>
                                                <input class="w-full" id="cantCisterna" pInputText type="number"
                                                    formControlName="cantCisterna" min="1" max="30" (input)="actualizarCisternas(
                                                            +formDespacho
                                                                .get('cantCisterna')
                                                                ?.value
                                                        )" />
                                                <label for="cantCisterna">
                                                    Cantidad Cisterna *
                                                </label>
                                            </p-floatlabel>
                                        </p-fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="py-6">
                                <p-button type="button" label="Siguiente" icon="pi pi-arrow-right" severity="info"
                                    (onClick)="activateCallback(2)" />
                            </div>
                        </ng-template>
                    </p-step-panel>
                </p-step-item>

                <!-- ====================== -->
                <!-- PASO 2 -->
                <!-- ====================== -->

                <p-step-item [value]="2">
                    <p-step>
                        Datos Cisternas
                    </p-step>
                    <p-step-panel>
                        <ng-template #content let-activateCallback="activateCallback">
                            <div formArrayName="cisternas">
                                @for (
                                cisterna of cisternas.controls;
                                track $index;
                                let i = $index
                                ) {
                                <div [formGroupName]="i" class="bloque-cisterna">
                                    <p-fieldset [legend]="'Cisterna Nro. ' + (i + 1)">
                                        <br>
                                        <div class="datos-cisterna">

                                            <!-- PRESINTO -->
                                            <div>
                                                <p-floatlabel>
                                                    <input [id]="'presinto-' + i" pInputText type="text"
                                                        formControlName="presinto" class="w-full" />
                                                    <label [for]="'presinto-' + i">
                                                        Presinto
                                                    </label>
                                                </p-floatlabel>
                                            </div>

                                            <!-- PLACA -->
                                            <div>
                                                <p-floatlabel>
                                                    <p-inputmask mask="9999-aaa" [id]="'placa-' + i"
                                                        formControlName="placa" styleClass="w-full" [autoClear]="false">
                                                    </p-inputmask>
                                                    <label [for]="'placa-' + i">
                                                        Placa
                                                    </label>
                                                </p-floatlabel>
                                            </div>

                                            <!-- VOLUMEN -->
                                            <div>
                                                <p-floatlabel>
                                                    <input [id]="'volumen-' + i" pInputText type="number"
                                                        formControlName="volTotalTransporte" class="w-full" />
                                                    <label [for]="'volumen-' + i">
                                                        Volumen Total Transporte
                                                    </label>
                                                </p-floatlabel>
                                            </div>

                                            <!-- CONDUCTOR -->
                                            <div class="campo-conductor">
                                                <p-floatlabel>
                                                    <input [id]="'conductor-' + i" pInputText type="text"
                                                        formControlName="conductor" class="w-full" />
                                                    <label [for]="'conductor-' + i">
                                                        Conductor
                                                    </label>
                                                </p-floatlabel>
                                            </div>
                                        </div>
                                    </p-fieldset>
                                    <br>
                                </div>
                                }
                            </div>

                            <!-- BOTONES -->
                            <div class="flex py-6 gap-2" style="display:flex; gap:1rem">
                                <p-button type="button" icon="pi pi-arrow-left" label="Atrás" variant="text"
                                    severity="secondary" (onClick)="activateCallback(1)" />
                                <p-button label="Registrar" icon="pi pi-save" severity="info" type="submit" />
                            </div>
                        </ng-template>
                    </p-step-panel>
                </p-step-item>
            </p-stepper>
        </form>
    </div>
    }
    <!-- ========================= -->
    <!-- IMPORTACION -->
    <!-- ========================= -->

    @if (tabDespacho === 5) {

    <div class="card">

        Aquí irá el formulario de Importación.

    </div>

    }

    <br><br>
</p-dialog>


<!-- MODAL PARA SUBIR CERTIFICADO DE CALIDAD -->

<p-dialog [(visible)]="visibleUpload" [modal]="true" [style]="{ width: '50rem' }">
    <ng-template #header>
        <div class="inline-flex items-center justify-center gap-2">
            <p-avatar image="certificado.png" style="border-radius: 50%;" />
            <span class="font-bold whitespace-nowrap">
                SUBIR CERTIFICADO DE CALIDAD
            </span>
        </div>
    </ng-template>
    <div class="card">
        <p-toast />
        <p-fileupload name="archivo" [multiple]="false" accept="image/*,application/pdf" [maxFileSize]="3670016"
            [customUpload]="true" class="fileupload-certificado" (onSelect)="onSelectedFiles($event)">
            <ng-template #header let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback"
                let-uploadCallback="uploadCallback">
                <div class="upload-header">
                    <!-- BOTONES -->
                    <div class="upload-acciones">
                        <p-button (onClick)="choose($event, chooseCallback)" icon="pi pi-images" [rounded]="true"
                            [outlined]="true" pTooltip="Seleccionar archivo">
                        </p-button>
                        <p-button (onClick)="subirCertificado()" icon="pi pi-cloud-upload" [rounded]="true"
                            [outlined]="true" severity="success" pTooltip="Subir certificado"
                            [disabled]="!files || files.length === 0">
                        </p-button>
                        <p-button (onClick)="clearCallback()" icon="pi pi-times" [rounded]="true" [outlined]="true"
                            severity="danger" pTooltip="Limpiar" [disabled]="!files || files.length === 0">
                        </p-button>
                    </div>
                    <!-- PROGRESO -->
                    <div class="upload-progreso">
                        <div class="progreso-info">
                            <span>Espacio utilizado</span>
                            <span>
                                {{ formatSize(totalSize) }} / 3.5 MB
                            </span>
                        </div>
                        <p-progressbar [value]="totalSizePercent" [showValue]="false">
                        </p-progressbar>
                    </div>
                </div>
            </ng-template>
            <ng-template #content let-files let-uploadedFiles="uploadedFiles"
                let-removeFileCallback="removeFileCallback" let-removeUploadedFileCallback="removeUploadedFileCallback">

                <div class="zona-archivos">
                    <!-- ============================== -->
                    <!-- ARCHIVOS PENDIENTES -->
                    <!-- ============================== -->
                    <div *ngIf="files?.length > 0" class="grupo-archivos">
                        <div class="grupo-header">
                            <div class="grupo-titulo">
                                <i class="pi pi-clock"></i>
                                <div>
                                    <h4>Archivos pendientes</h4>
                                    <small>
                                        Estos archivos se subirán al iniciar la carga.
                                    </small>
                                </div>
                            </div>
                            <span class="contador">
                                {{ files.length }}
                                {{ files.length === 1 ? 'archivo' : 'archivos' }}
                            </span>
                        </div>
                        <div class="archivos-grid">
                            <div *ngFor="let file of files; let i = index" class="archivo-card">
                                <!-- IMAGEN -->
                                <div class="archivo-preview">
                                    <img role="presentation" [alt]="file.name" [src]="file.objectURL" />
                                </div>
                                <!-- INFORMACIÓN -->
                                <div class="archivo-datos">
                                    <span class="archivo-nombre" [title]="file.name">
                                        {{ file.name }}
                                    </span>
                                    <span class="archivo-tamano">
                                        {{ formatSize(file.size) }}
                                    </span>
                                </div>
                                <!-- ESTADO + ELIMINAR -->
                                <div class="archivo-footer">
                                    <span class="estado estado-pendiente">
                                        <i class="pi pi-clock"></i>
                                        Pendiente
                                    </span>
                                    <p-button icon="pi pi-times" (onClick)="onRemoveTemplatingFile(
                                $event,
                                file,
                                removeFileCallback,
                                i
                            )" [outlined]="true" [rounded]="true" severity="danger">
                                    </p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================== -->
                    <!-- ARCHIVOS COMPLETADOS -->
                    <!-- ============================== -->
                    <div *ngIf="uploadedFiles?.length > 0" class="grupo-archivos">
                        <div class="grupo-header">
                            <div class="grupo-titulo">
                                <i class="pi pi-check-circle"></i>
                                <div>
                                    <h4>Archivos cargados</h4>
                                    <small>
                                        Archivos cargados correctamente.
                                    </small>
                                </div>
                            </div>
                            <span class="contador">
                                {{ uploadedFiles.length }}
                                {{ uploadedFiles.length === 1 ? 'archivo' : 'archivos' }}
                            </span>
                        </div>
                        <div class="archivos-grid">
                            <div *ngFor="let file of uploadedFiles; let i = index" class="archivo-card">
                                <div class="archivo-preview">
                                    <img role="presentation" [alt]="file.name" [src]="file.objectURL" />
                                </div>
                                <div class="archivo-datos">
                                    <span class="archivo-nombre" [title]="file.name">
                                        {{ file.name }}
                                    </span>
                                    <span class="archivo-tamano">
                                        {{ formatSize(file.size) }}
                                    </span>
                                </div>
                                <div class="archivo-footer">
                                    <span class="estado estado-completado">
                                        <i class="pi pi-check"></i>
                                        Completado
                                    </span>
                                    <p-button icon="pi pi-times" (onClick)="removeUploadedFileCallback(i)"
                                        [outlined]="true" [rounded]="true" severity="danger">
                                    </p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #file> </ng-template>
            <ng-template #empty>

                <div class="upload-vacio">

                    <div class="upload-vacio-icono">
                        <i class="pi pi-cloud-upload"></i>
                    </div>

                    <div>
                        <strong>
                            Arrastra y suelta los archivos aquí para subirlos.
                        </strong>

                        <span>
                            También puedes seleccionarlos usando el botón superior.
                        </span>
                    </div>

                </div>

            </ng-template>
        </p-fileupload>
    </div>
</p-dialog>

<!-- MODAL PARA REGISTRAR CERTIFICADO -->

<p-dialog [(visible)]="visibleRegCert" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [maximizable]="true" [style]="{ width: '70rem' }">
    <ng-template #header>
        <div class="inline-flex items-center justify-center gap-2">
            <p-avatar image="certificado_de_calidad.png" shape="circle" />
            <span class="font-bold whitespace-nowrap">
                Registrar Certificado de Calidad
            </span>
        </div>
    </ng-template>

    <div class="card">
        <p-stepper [value]="1">
            <p-step-item [value]="1">
                <p-step>Datos Generales</p-step>
                <p-step-panel>
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class=" h-48">
                            <div
                                class=" border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                                Content I
                            </div>
                        </div>
                        <p-divider type="solid" />
                        <div class="py-6">
                            <p-button label="Siguiente" severity="info" (onClick)="activateCallback(2)" />
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-item>

            <p-step-item [value]="2">
                <p-step>Datos de Calidad</p-step>
                <p-step-panel>
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-48">
                            <div
                                class=" border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                                <p-table [value]="products" dataKey="id" [tableStyle]="{ 'min-width': '50rem' }">
                                    <ng-template #header>
                                        <tr>
                                            <th style="width:5%">
                                                #
                                            </th>
                                            <th style="width:25%">
                                                Prueba/Ensayo
                                            </th>
                                            <th style="width:20%">
                                                Método ASTM y/o UOP
                                            </th>
                                            <th style="width:5%">
                                                Unidad
                                            </th>
                                            <th style="width:20%">
                                                Valor Reportado
                                            </th>
                                            <th style="width:10%">
                                                Espec. Minima
                                            </th>
                                            <th style="width:10%">
                                                Espec. Maxima
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template #body let-product let-editing="editing">
                                        <tr>
                                            <td [pEditableColumn]="product.code" pEditableColumnField="code">
                                                <p-cellEditor>
                                                    <ng-template #input>
                                                        <input pInputText type="text" [(ngModel)]="product.code" />
                                                    </ng-template>
                                                    <ng-template #output>
                                                        {{ product.code }}
                                                    </ng-template>
                                                </p-cellEditor>
                                            </td>
                                            <td [pEditableColumn]="product.name" pEditableColumnField="name">
                                                <p-cellEditor>
                                                    <ng-template #input>
                                                        <input pInputText type="text" [(ngModel)]="product.name"
                                                            required />
                                                    </ng-template>
                                                    <ng-template #output>
                                                        {{ product.name }}
                                                    </ng-template>
                                                </p-cellEditor>
                                            </td>
                                            <td [pEditableColumn]="product.inventoryStatus"
                                                pEditableColumnField="inventoryStatus">
                                                <p-cellEditor>
                                                    <ng-template #input>
                                                        <input pInputText [(ngModel)]="product.inventoryStatus" />
                                                    </ng-template>
                                                    <ng-template #output>
                                                        {{ product.inventoryStatus }}
                                                    </ng-template>
                                                </p-cellEditor>
                                            </td>
                                            <td [pEditableColumn]="product.price" pEditableColumnField="price">
                                                <p-cellEditor>
                                                    <ng-template #input>
                                                        <input pInputText type="text" [(ngModel)]="product.price" />
                                                    </ng-template>
                                                    <ng-template #output>
                                                        {{ product.price | currency: 'USD' }}
                                                    </ng-template>
                                                </p-cellEditor>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                        <p-divider type="solid" />
                        <div class="flex py-6 gap-2" style="display: flex;gap:1rem;">
                            <p-button label="Back" severity="secondary" (onClick)="activateCallback(1)" />
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-item>

        </p-stepper>
    </div>

    <ng-template #footer>

        <p-button label="Almacenar" [outlined]="true" severity="secondary" (click)="visible = false" />
    </ng-template>
</p-dialog>

<!-- MOSTRAR TRAZABILIDAD -->

<p-dialog [(visible)]="mostrarTrazabilidad" [modal]="true" [maximizable]="true">
    <div class="trazabilidad-container">
        <!-- ============================= -->
        <!-- CABECERA -->
        <!-- ============================= -->
        @if (eventos.length > 0) {
            <!-- <ng-template #header> -->
            <!-- <div class="inline-flex items-center justify-center gap-2"> -->
                <div class="trazabilidad-header">
                    <div>
                        <span class="subtitulo">
                            CÓDIGO DE TRAZABILIDAD
                        </span>
                        <h2>
                            {{ codigoTrazabilidad }}
                        </h2>
                    </div>
                    <div class="header-info">
                        <div class="dato-header">
                            <span>Eventos</span>
                            <strong>{{ eventos.length }}</strong>
                        </div>
                        <div class="dato-header">
                            <span>Volumen inicial</span>
                            <strong>
                                {{ volumenInicial | number:'1.0-2' }}
                            </strong>
                        </div>
                        <p-tag value="CONFIRMADO" severity="success">
                        </p-tag>
                    </div>
                </div>
            <!-- </div> -->
        <!-- </ng-template> -->
        <!-- ============================= -->
        <!-- EVENTOS -->
        <!-- ============================= -->
        <div class="timeline">
            @for (evento of eventos; track evento.IdEvento; let ultimo = $last) {
            <div class="timeline-item">
                <!-- LINEA -->
                <div class="timeline-marker">
                    <div class="marker">
                        <i [class]="iconoEvento(evento.TipoEvento)"></i>
                    </div>
                    @if (!ultimo) {
                    <div class="linea"></div>
                    }
                </div>
                <!-- CONTENIDO -->
                <div class="evento">
                    <!-- HEADER EVENTO -->
                    <div class="evento-header">
                        <div>
                            <span class="evento-numero">
                                EVENTO {{ evento.IdEvento }}
                            </span>
                            <h3>
                                {{ evento.TipoEvento }}
                            </h3>
                        </div>
                        <div class="evento-fecha">
                            <i class="pi pi-calendar"></i>
                            {{ formatearFecha(evento.FechaEvento) }}
                            <p-tag [value]="evento.Estado" severity="success">
                            </p-tag>
                        </div>
                    </div>
                    <!-- FLUJO -->
                    <div class="flujo">
                        <!-- ORIGEN -->
                        <div class="seccion-flujo">
                            <div class="titulo-seccion">
                                <i class="pi pi-sign-in"></i>
                                ORIGEN
                                <span class="contador">
                                    {{ evento.Origenes.length }}
                                </span>
                            </div>
                            <div class="instancias">
                                @for (
                                origen of evento.Origenes;
                                track origen.idInstancia
                                ) {
                                <div class="instancia-card">
                                    <div class="instancia-icono">
                                        <i [class]="iconoTipo(origen.tipo)"></i>
                                    </div>
                                    <div class="instancia-info">
                                        <span class="tipo">
                                            {{ nombreTipo(origen.tipo) }}
                                        </span>
                                        <strong>
                                            {{ origen.codigo }}
                                        </strong>
                                        <span class="nombre">
                                            {{ origen.nombre }}
                                        </span>
                                    </div>
                                    <div class="volumen">
                                        <strong>
                                            {{ origen.volumen | number:'1.0-2' }}
                                        </strong>
                                        <span>
                                            Volumen
                                        </span>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                        <!-- FLECHA -->
                        <div class="flecha-flujo">
                            <div class="linea-flecha"></div>
                            <i class="pi pi-angle-right"></i>
                        </div>
                        <!-- DESTINO -->
                        <div class="seccion-flujo">
                            <div class="titulo-seccion">
                                <i class="pi pi-sign-out"></i>
                                DESTINO
                                <span class="contador">
                                    {{ evento.Destinos.length }}
                                </span>
                            </div>
                            <div class="instancias">
                                @for (
                                destino of evento.Destinos;
                                track destino.idInstancia
                                ) {
                                <div class="instancia-card">
                                    <div class="instancia-icono">
                                        <i [class]="iconoTipo(destino.tipo)"></i>
                                    </div>
                                    <div class="instancia-info">
                                        <span class="tipo">
                                            {{ nombreTipo(destino.tipo) }}
                                        </span>
                                        <strong>
                                            {{ destino.codigo }}
                                        </strong>
                                        <span class="nombre">
                                            {{ destino.nombre }}
                                        </span>
                                    </div>
                                    <div class="volumen">
                                        <strong>
                                            {{ destino.volumen | number:'1.0-2' }}
                                        </strong>
                                        <span>
                                            Volumen
                                        </span>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- CERTIFICADOS -->
                    @if (evento.Certificados.length > 0) {
                    <div class="certificados">
                        <div class="certificado-titulo">
                            <i class="pi pi-file-pdf"></i>
                            Certificados asociados
                        </div>
                        <div class="certificado-lista">
                            @for (
                            certificado of evento.Certificados;
                            track certificado.idCertificado
                            ) {
                            <div class="certificado">
                                <div class="certificado-icono">
                                    <i class="pi pi-file"></i>
                                </div>
                                <div>
                                    <span>Certificado</span>
                                    <strong>
                                        {{ certificado.numero }}
                                    </strong>
                                </div>
                                <div class="certificado-fecha">
                                    <span>Fecha de emisión</span>
                                    <strong>
                                        {{ formatearFecha(certificado.fechaEmision) }}
                                    </strong>
                                </div>
                                <p-button icon="pi pi-eye" [rounded]="true" [text]="true" pTooltip="Ver certificado">
                                </p-button>
                            </div>
                            }
                        </div>
                    </div>
                    }
                </div>
            </div>
            }
        </div>
        } @else {
        <div class="sin-resultados">
            <i class="pi pi-search"></i>
            <h3>Sin trazabilidad</h3>
            <p>
                Ingrese un código de trazabilidad para consultar
                el recorrido del producto.
            </p>
        </div>
        }
    </div>
</p-dialog>