<aside class="sidebar-container">
    <button class="btn-cerrar-menu danger" (click)="cerrarMenu()">
        <i class="pi pi-times"></i>
    </button>
    <div class="logo">
        <div class="parent">
            <div class="div1">
                <img src="../../../../images/logo-anh.png" alt="ANH" width="70">
            </div>
            <div class="div2">
                <p>TRAZABILIDAD</p>
                <p>SISTEMA GLP</p>
            </div>
        </div>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a 
                routerLink="/dashboard" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                    <i class="pi pi-home"></i>
                    Pagina Principal
                </a>
            </li>
            <li >
                <a 
                routerLinkActive="active"
                routerLink="/produccion" 
                [routerLinkActiveOptions]="{ exact: true }">
                    <i class="pi pi-home"></i>
                    1. Producción
                </a>
            </li>
            <li >
                <a 
                routerLink="/transporte" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >
                    <i class="pi pi-home"></i>
                    2. Transporte
                </a>
            </li>
            <li>
                <a 
                routerLink="/almacenamiento" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >
                    <i class="pi pi-home"></i>
                    3. Almacenamiento
                </a>
            </li>
            <li>
                <a
                routerLink="/tanque" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >
                    <i class="pi pi-home"></i>
                    4. Tanque de almacenamiento
                </a>
            </li>
            <li>
                <a
                routerLink="/envasado" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >
                    <i class="pi pi-home"></i>
                    5. Envasado
                </a>
            </li>
            <li>
                <a
                routerLink="/despacho" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >
                    <i class="pi pi-home"></i>
                    6. Despacho
                </a>
            </li>
            <li>
                <a
                routerLink="/configuracion" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >
                    <i class="pi pi-home"></i>
                    Configuraciósn
                </a>
            </li>
        </ul>
    </div>
    <div class="cerrarSession">
        <a class="link_cerrar_session" (click)="cerrarSession($event)">
            <div class="contenedor_cerrar">
                <div class="avatar">
                    <img src="../../../../images/avatar.png" alt="Avatar" width="40" class="avatar_img">
                </div>
                <div class="nombres">
                    <p>John Doe</p>
                    <p>Fiscalizador</p>
                </div>
                <div class="icono">
                    <i class="pi pi-sign-out"></i>
                </div>
            </div>
        </a>

    </div>
</aside>