.btn-menu {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid var(--border-color-oscuro);
    border-radius: 5px;
    display: none;
}

.btn-menu i {
    font-size: 20px;
}

.contenedor-navbar {
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 6px;
    grid-row-gap: 0px;
    height: 70px;
    height: calc(100%, 75px);
}

.titulo {
    grid-area: 1 / 1 / 1 / 3;
    margin: 0;
    padding-left: 20px;
}

.titulo> :first-child {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-white);
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font-family: 'inter', sans-serif;
}

.titulo> :last-child {
    font-size: 12px;
    color: var(--text-secundary);
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'inter', sans-serif;
}

.online {
    grid-area: 1 / 2 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-online);

}

.alerta_online {
    border: 1px solid var(--text-online);
    border-radius: 7px;
    padding-left: 11px;
    padding-top: 0px
}


.online ul {
    margin: 0;
    margin-left: 15px;
    margin-top: -10px;
    padding: 3px;
    font-size: clamp(0.5rem, 0.5rem + 1vw, 0.7rem);
}

.online li::marker {
    color: var(--text-online);
    font-size: 25px;
}

.offline {
    grid-area: 1 / 2 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-offline);

}

.alerta_offline {
    border: 1px solid var(--text-offline);
    border-radius: 7px;
    padding-left: 11px;
    padding-top: 0px
}

.offline ul {
    margin: 0;
    margin-left: 15px;
    margin-top: -10px;
    padding: 3px;
    font-size: clamp(0.5rem, 0.5rem + 1vw, 0.7rem);
}

.offline li::marker {
    color: var(--text-offline);
    font-size: 25px;
}

.notificacion {
    grid-area: 1 / 3 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notificacion_icon:hover {
    background: var(--bg-background);
    border: 1px solid var(--menu-hover);
    color: var(--text-white);
    cursor: pointer;

}

.notificacion_icon {
    border: 1px solid var(--menu-hover);
    border-radius: 50%;
    padding: 6px;
    background-color: var(--bg-body);
    color: var(--menu-link);
    transition: .2s ease-in-out;
}

.perfil {
    grid-area: 1 / 4 / 2 / 4;
    border-left: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.5rem, 0.5rem + 1vw, 1rem);
    transition: .2s ease-in-out;
}

.perfil:hover {
    background: var(--bg-background);
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.perfil_datos> :first-child {
    color: var(--text-perfil);
    padding: 0 7px;
    font-size: clamp(0.5rem, 0.5rem + 1vw, 1rem);
}

.btn-theme {

    border: 1px solid var(--menu-hover);
    border-radius: 50%;
    padding: 6px;
    background-color: var(--bg-body);
    color: var(--menu-link);
    transition: .2s ease-in-out;

    /* width: 42px;
    height: 42px;

    display: flex;

    align-items: center;
    justify-content: center;

    border: none;

    border-radius: 50%;

    background: transparent;

    cursor: pointer;

    font-size: 1.2rem; */

    /* transition:
        background-color 0.3s ease,
        transform 0.2s ease; */

}

.btn-theme:hover {
    background: var(--bg-background);
    border: 1px solid var(--menu-hover);
    color: var(--text-white);
    cursor: pointer;
}

.btn-theme i {

    font-size: 1.2rem;

}

@media (max-width: 768px) {
    .btn-menu {
        display: block;
    }

    .titulo>:first-child,
    .titulo>:last-child,
    .online>.alerta_online>ul>li,
    .perfil>.perfil_datos>:last-child {
        font-size: clamp(0.7rem, 0.5rem + 2vw, 0.7rem);
    }

    .titulo {
        width: calc(80% - 40px);
    }
}